%header.header
  .container.text-center
    %H1.header__title event-maneger
    //TODO  ログイン操作はハンバーガーメニューにしたい
    .header__user-authentication
      %span.text-right.h4 ログイン
      %span.text-right.h4 新規登録
      = link_to "イベント作成", new_event_path
