= render "./shared/header"

%body.main
  .container
    .row
      - @events.each do |event|
        .col-sm-6
          = link_to event_path(event) do
            =render "event", event: event

= render "./shared/footer"
