= render "./shared/header"

%body.main
  .event.container.max-w
    .row
      .col-12
        =render "event", event: @event

  .container.max-w.mb-2
    .row
      .col-6
        .w-50.mx-auto
          %button.btn.w-100.participation-btn
            参加
      .col-6
        .w-50.mx-auto
          %button.btn.w-100.absence-btn
            不参加
  .container.max-w.mb-2
    .row
      .col-sm-12
        %h5.card-title.text-center.participant-title 参加者
        .participant
          %ul.participant-list
            %li.border-bottom
              その１
            %li.border-bottom
              その２
            %li.border-bottom
              その２
            %li.border-bottom
              その２

= render "./shared/footer"
