
::selection {
    background: $main-color;
    color: $white;
}


ul {
  list-style: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.main-color{
  color: $main-color;
}

.accent-1st-color{
  color: $accent-1st-color;
}


.container{
  max-width: 992px;
}

.header__title{
  color: $main-color;
}
.main {
  background-color: $white;
}
.footer {
  color: $main-color;
}

.create-event{
  &__title{
    color: $accent-1st-color;
  }
  &__input-form{
    position: relative;
  }
}

.image-field{
  & input{
    display: none;
  }
}

.image-preview{
  position: relative;
  &:hover{
    opacity: .6;
    cursor: pointer;
  }
  & i{
    opacity: .6;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.image-display-area{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  & img{
    position: absolute;
    height: 200px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.object_image{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  border-radius: 20px;
  img {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.object_name{
  display: inline-block;
}

.organizer_group{
  height: auto;
  & .selected-group{
    height: 40px;
  }
}

.selection-candidate{
  display: none;
  position: absolute;
  width: 100%;
  background-color: $Lightgrey;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  & li{
    margin-bottom: 0.5rem;
    padding: 0.375rem 0.75rem;
    &:hover{
      background-color: $white;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.url-field{
  color: $font-sub-color;
  background-color: $Lightgrey;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}


.FbBtn {
    background-color: #4267B2;
    height: 45px;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
}

.FbBtn:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("flogo-HexRBG-Wht-100.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.FbBtnLabel {
    color: #ffffff;
    top: 13px;
    text-align: center;
    margin: 0 auto;
}
