@import "bootstrap";
@import "config/variable";

ul {
  list-style: none;
}


.header {
   color: $main-color;
}
.main {
   background-color: $white;
}
.footer {
   color: $main-color;
}

.header{
  &__title{
  }
  &__user-authentication{
    position: absolute;
    top: 0;
    right: 10px;
  }
}

.max-w{
  max-width: 430px;
}

.card{
  width: 100%;
  max-width: 400px;
  background-color: $sub-color;
  opacity: 0.6;
}


.participation-btn{
  background-color: $accent-1st-color;
}
.absence-btn{
  background-color: $accent-2nd-color;
}

.participant-title{
  color: $main-color;
}

.participant-list{
  padding-left: 20px;
  padding-right: 20px;
}

