@import "bootstrap";
@import "config/variable";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

ul {
  list-style: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.main-color{
  color: $main-color;
}


.container{
  max-width: 992px;
}

.header {
   color: $main-color;
}
.main {
   background-color: $white;
}
.footer {
   color: $main-color;
}

//////////ヘッダー///////////
.global-menu__trigger{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: $accent-1st-color;
  z-index: 200;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.active .global-menu__body {
  visibility: visible;
}

.active .global-menu__nav{
  visibility: visible;
}

.global-menu{
  &__trigger{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: $accent-1st-color;
    z-index: 200;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__background{
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #FB9D7E;
    z-index: 10;
    width: 4000px;
    height: 4000px;
    margin: -2000px -2000px 0 0;
    border-radius: 50%;
    transition: all .4s ease-out;
    transform: scale(0.01);
    &.active{
      transition: all .6s ease-in;
      transform: scale(1);
    }
  }
  &__body{
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }
  &__nav{
  }
  &__list{
  }
  &__item{
  }
}

.nav-menu{
  display: block;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: $main-color;
  width: 100vw;
  height: 100vh;
  &.active{
    transition: .5s;
    transform: translateX(-100%);
    z-index: 100;
  }
}



.max-w{
  max-width: 430px;
}

//////トップページ////////
.card{
  width: 100%;
  max-width: 400px;
  min-width: 350px;
  background-color: $sub-color;
  color: $font-main-color;
}

.card-body{
  height: 175px;
}

//////詳細ページ////////

.author-command{
  padding: 0 1.25rem 1.25rem 1.25rem;
  &__edit{
    display: block;
    color: $font-main-color;
    background-color: $accent-1st-color;
    &:hover{
      color: $font-main-color;
      opacity: 0.6;
    }
  }

  &__delete{
    display: block;
    color: $font-main-color;
    background-color: $accent-1st-color;
    &:hover{
      color: $font-main-color;
      opacity: 0.6;
    }
  }
}

.participation-btn{
  background-color: $accent-1st-color;
  color: $font-main-color;
  &:hover{
    color: $font-main-color;
    opacity: 0.6;
  }
}

.absence-btn{
  background-color: $accent-2nd-color;
  color: $font-main-color;
  &:hover{
    color: $font-main-color;
    opacity: 0.6;
  }
}


.participant-list{
  padding-left: 20px;
  padding-right: 20px;
}

.absentee-list{
  padding-left: 20px;
  padding-right: 20px;
}


.js-add-attend{
  background-color: transparent;
  animation-name: add-attend;
  animation-duration: 1s;
  border-radius: 10%;
  // transform: scale(0.01);
}

@keyframes add-attend {
  0% {background-color: $main-color;}
  100% {background-color: transparent;}
}




/////////////////////


.create-event__title{
  color: $accent-1st-color;
}


.form__label{
  display: block;
}

